.delay-text{
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
    display: flex;
align-items: left;
justify-content: left;
flex-direction: column;
gap: 8px;

}
.delay-input{
    border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;
    
  
}
.delay-input:hover {
    border: 1px solid #000;  
}

.field-cont{
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
border-radius: 4px;
stroke-width: 1px;
stroke: #808080;
display: flex;
align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 48px;
    margin-top: 16px;
}
.btn-bar {
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
margin-top: 24px;
    display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-color: transparent;
border-radius: 8px;
padding: 8px 16px;
width: 360px;
height: 40px;
background-color: #4e75ff;
}
.btn-bar:hover{
    background-color: #6c8cff;
}